<ng-container *ngIf="chat$ | async as chat">
  <ng-container *ngIf=" auth.user$ | async as user">
    <div class="top">
      <p><a class="btn btn-primary mb-2" routerLink="/">Retournez sur la liste de tous les chats</a><br/>
        <input type="text" value="https://tchat-9ba4f.firebaseapp.com/chats/{{ chat.id }}" #userinput>
        <button (click)="copyInputMessage(userinput)" value="click to copy" >Copier l'url</button>
        <span>Vous pouvez copier/coller l'url pour envoyer votre chat à vos amis pour qu'ils vous rejoignent</span>
      </p>
    </div>
    <table #chatBox class="table chat">
      <div class="msg animated zoomInUp" *ngFor="let msg of chat.messages; trackBy: trackByCreated">
        <tr>
          <td>
        <div class="user">
          <img [src]="msg.user?.photoURL || 'assets/unicorn.svg'" width="50px">
        </div>
          </td>
          <td>
          <div><span class="tag is-dark">{{ msg.user?.displayName || msg.user?.uid }}</span></div>
          </td>
          <td><p>{{ msg.content }}</p></td>
          <td><button *ngIf="chat.uid === user.uid || msg.uid === user.uid" class="btn btn-danger" (click)="cs.deleteMessage(chat, msg)">Supprimer</button></td>
      </tr>
      </div>
    </table>
    <div class="form">
      <input class="col-lg-6 form-control" [(ngModel)]="newMsg" maxlength="100" (keydown.enter)="submit(chat.id)">
      <button (click)="submit(chat.id)" class="btn btn-primary mb-2" [disabled]="!newMsg">Envoyer</button>
    </div>
  </ng-container>
</ng-container>