<div class="row">
    <div class="col-md-12">
        <span class="description">On tente d'afficher un article</span> <br/>
        <h1>{{ posts?.title }}</h1>
        <div>
            {{ posts?.body }}
        </div>
        <br/>
        <br/>
        <span class="description">Puis ici on affiche les commentaires</span> <br/>
        <hr>
        <div class="row">
            <div class="col-md-12 col-md-push-6">
                <h3>Commentaires ({{ comments.length }})</h3>
                <div *ngFor="let comment of comments">
                    <div class="card">
                    <strong>{{ comment.email }}</strong> a écrit: <br>
                    <h4 class="card-title">{{ comment.name }}</h4>
                    <p class="card-text">{{ comment.body }}</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>