<div class="row">
  <div class="col-md-6 col-md-pull-3">
    <ng-container *ngIf="articleForm">
      <ng-container [formGroup]="articleForm">
        <input type="text" formControlName="title"> <br>

        <ng-container *ngIf="articleForm && articleForm.controls['title'].dirty && articleForm.controls['title'].errors">
          <ng-container *ngIf="articleForm.controls['title'].errors['required']">
            <h1> Une erreur est survenue</h1>
          </ng-container>
          <ng-container *ngIf="articleForm.controls['title'].errors['minlength']">
            <h1>Vous avez {{ articleForm.controls['title'].errors['minlength'].actualLength }} sur {{ articleForm.controls['title'].errors['minlength'].requiredLength }}</h1>
          </ng-container>
        </ng-container>


        <textarea type="text" formControlName="body" class="form-control" aria-label="With textarea">
        </textarea>
        <button (click)="submit()" [disabled]="!articleForm.valid">Valider !</button>
      </ng-container>
    </ng-container>
  </div>
</div>

